body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #eaeaea;
    padding: 1rem 10px;
}
header span {
    color: #024873;
    font-size: 1.6rem;
    font-weight: 400;
}